/*
#ff0000
#ff8000
#00ff00
#0080ff
#0000ff
*/

svg {
    fill: #000000;
    stroke: #000000;
}

g,
.Space,
.FixedFurniture,
.Railing,
.Column,
.WalkinLine marker {
    fill: #ffffff;
    stroke: #ffffff;
}

text,
.WalkinLine path {
    display: none;
}

/* pintu */
.Wall .Door,
.Wall .Door .Threshold,
.Wall .Door .Panel,
.Wall .Door .PanelArea {
    stroke-width: 0;
    fill: #ff0000;
    stroke: #ff0000;
}

/* tembok */
.Wall {
    fill: #00ff00;
    stroke: #00ff00;
}

/* jendela */
.Wall .Window,
.Wall .Window .Glass,
.Wall .Window .Panel {
    fill: #0000ff;
    stroke: #0000ff;
}