/* tembok */
.Wall {
    fill: #ffffff;
}
.Column {
    fill: #ffffff;
}

/* pintu */
.Panel {
    fill: #eedebe;
}

/* tempat kosong */
.Space {
    fill: #eeeeea;
}

/* furniture */
.FixedFurniture {
    fill: #fffafa;
}