svg {
  fill: #ffffff;
  stroke: #ffffff;
}

g,
.Space,
.FixedFurniture,
.Railing,
.Column,
.WalkinLine marker {
  fill: #000000;
  stroke: #000000;
}

text,
.WalkinLine path {
  display: none;
}

/* pintu */
.Wall .Door,
.Wall .Door .Threshold,
.Wall .Door .Panel,
.Wall .Door .PanelArea {
  stroke-width: 0;
  fill: #000000;
  stroke: #000000;
}

/* tembok */
.Wall {
  fill: #000000;
  stroke: #000000;
}

/* jendela */
.Wall .Window,
.Wall .Window .Glass,
.Wall .Window .Panel {
  fill: #000000;
  stroke: #000000;
}
