/* tembok */
.Wall {
  fill: #075494;
}
.Column {
  fill: #075494;
}

/* pintu */
.Panel,
#Window {
  fill: #7eb6e4;
}

/* tempat kosong */
.Space {
  fill: #98cdff;
}

/* furniture */
.FixedFurniture {
  fill: #98cdff;
}
