/* tembok */
.Wall {
  fill: #010101;
}
.Column {
  fill: #010101;
}

/* pintu */
.Panel,
#Window {
  fill: #aeaeae;
}

/* tempat kosong */
.Space {
  fill: #ffffff;
}

/* furniture */
.FixedFurniture {
  fill: #ffffff;
}
