/* tembok */
.Wall,
.Column {
  fill: #1176ae;
}

/* pintu */
.Panel,
#Window {
  fill: #b1e4ff;
}

/* tempat kosong */
.Space {
  fill: #eeeeea;
}

/* furniture */
.FixedFurniture {
  fill: #fffafa;
}
