/* tembok */
.Wall {
  fill: #f04f00;
}
.Column {
  fill: #f04f00;
}

/* pintu */
.Panel,
#Window {
  fill: #eedebe;
}

/* tempat kosong */
.Space {
  fill: #eeeeea;
}

/* furniture */
.FixedFurniture {
  fill: #fffafa;
}
