/* tembok */
.Wall {
  fill: #00273e;
}
.Column {
  fill: #00273e;
}

/* pintu */
.Panel,
#Window {
  fill: #738dbc;
}

/* tempat kosong */
.Space {
  fill: #738dbc;
}

/* furniture */
.FixedFurniture {
  fill: #738dbc;
}
