/* tembok */
.Wall {
  fill: #d8764f;
}
.Column {
  fill: #d8764f;
}

/* pintu */
.Panel,
#Window {
  fill: #f0d4c9;
}

/* tempat kosong */
.Space {
  fill: #f4e3dc;
}

/* furniture */
.FixedFurniture {
  fill: #f4e3dc;
}
