/* tembok */
.Wall {
  fill: #a0837b;
}
.Column {
  fill: #a0837b;
}

/* pintu */
.Panel,
#Window {
  fill: #edd7cc;
}

/* tempat kosong */
.Space {
  fill: #edd7cc;
}

/* furniture */
.FixedFurniture {
  fill: #edd7cc;
}
